# Virtual environment
venv/
.venv
.env
env/
flask_session/

# Pycache
__pycache__/
*.pyc
*.pyo
   
# Logs
logs/
*.log

# Cache of packages
*.egg-info/
*.egg
dist/
build/
 
# Temporary files
*.bak
*.swp
*~